/* Global */
* {
	color: whitesmoke;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	scroll-behavior: auto !important;
}

.page {
	background-color: #353535;
	min-width: 100%;
	min-height: 100vh;
}

.mpage {
	margin: 20px;
	margin-left: 470px;
	width: calc(100% - 490px);
}

a {
	all: unset;
}

a:hover{
	text-decoration: none;
	color: inherit;
	opacity: 0.85;
}

a > span:not(.material-icons):hover {
	opacity: 0.85;
}

.title-big {
	font-size: 44pt;
}

.title-medium {
	font-size: 32pt;
}

.title-small {
	font-size: 28pt;
}

.text-big {
	font-size: 24pt;
}

.text-medium {
	font-size: 20pt;
}

.text-small {
	font-size: 16pt;
}

.m-100 {
	margin: 100px !important;
}

.m-50 {
	margin: 50px !important;
}

.m-30 {
	margin: 30px !important;
}

.m-10 {
	margin: 10px !important;
}

.mt-40 {
	margin-top: 40px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.pl-30 {
	padding-left: 30px;
}

.p-10 {
	padding: 10px;
}

.p-30 {
	padding: 30px;
}

button {
	all: unset;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-pointer:hover {
	opacity: 0.75;
}

.border-box {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.dark-input {
	all: unset;
	background-color: #636363;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	width: calc(100% - 10px);
	margin: 10px;
	font-size: 16pt;
}

.dark-input-focused,
.dark-input:focus {
    border: 4px solid white;
}

.dark-button {
	all: unset;
	background-color: #636363;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	width: calc(100% - 10px);
	margin: 10px;
	text-align: center;
	font-size: 16pt;
}

.dark-button-focused,
.dark-button:hover,
.dark-button:focus {
	border: 4px solid white;
}

ul {
	all: unset;
}

.languageSwitcherContainer {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 300px;
}

.itemsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 10px;
}

/* Scrollbar */
 /* width */
 ::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  } 