.li {
    all: unset;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16pt;
}

.lifocused,
.li:hover {
    font-style: italic;
    border-bottom: 4px solid grey;
    color: rgba(255, 255, 255, 0.6);
}

.liselected {
    font-weight: bold;
    border-bottom: 4px solid whitesmoke;
}