.li {
    all: unset;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10pt;
}

.lifocused,
.li:hover {
    border-bottom: 1px solid whitesmoke;
}

.liselected {
    font-weight: bold;
    border-bottom: 2px solid whitesmoke;
}