.itemContainer {
    width: 350px;
    height: 300px;
    background-color: #454545;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.itemfocused,
.itemContainer:hover {
    font-style: italic;
    border: 4px solid grey;
}

.itemCoverLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.itemCoverTitle {
    position: absolute;
    bottom: 0;
    width: 100%; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*.itemCoverTitle > span {
    color: transparent;
}

.itemfocused > .itemCoverTitle,
.itemContainer:hover > .itemCoverTitle {
    background-color: rgba(0, 0, 0, 0.5);
}

.itemfocused > .itemCoverTitle > span,
.itemContainer:hover > .itemCoverTitle > span {
    color: white;
}*/